<div class="container-fluid">
    <div class="row">
        <div class="col-6 align-items-end justify-content-end d-flex py-2">
            <img src="../assets/images/Capture1.png" height="56">
        </div>
        <div class="col-6 d-flex align-items-center py-2">
            <div class="row">
                <div class="col-12 title">Covid-19 </div>
                <div class="col-12 subtitle">Analytical Dashboard</div>
            </div>

        </div>

    </div>
    <div class="row mt-4">
        <div class="col-3">
            <div class="shadow p-3 mb-5 bg-body rounded">
                <div class="title2 text-center">Total Figures(SL)</div>
                <div class="card-body">
                    <div class="row mb-1">
                        <div class="border border-light">
                            <div class="col-12 subtitle1">Total Confirmed Cases</div>
                            <div class="col-12 title1 text-primary">504,491</div>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="border border-light">
                            <div class="col-12 subtitle1">Deaths</div>
                            <div class="col-12 title1 text-danger">12,125</div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="border border-light">
                            <div class="col-12 subtitle1">Recovered</div>
                            <div class="col-12 title1 text-success">432,038</div>
                        </div>
                    </div>
                </div>
                <div class="title3">Last update at</div>
            </div>
        </div>
        <div class="col-6">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card shadow-sm p-3 mb-5 bg-body rounded">
                <div class="card-body">
                    This is some text within a card body.
                </div>
            </div>
        </div>
    </div>

</div>